<div class="card">
  <div class="card-header bg-primary text-white">
    {{ title }}
  </div>
  <div class="card-block" *ngIf="ingredients.length">
    <form class="form mt-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
        <div class="col-sm-3">
          <input type="text" [(ngModel)]="search" class="form-control" name="filterDesc" id="filterDesc"
            placeholder="Filter..." />
        </div>
        <label class="col-form-label col-sm-5">
          Filtrando por: {{ search }}
        </label>
      </div>
    </form>

    <div class="row headers no-gutters">
      <div class="col-10">{{ headers.ingredientName }}</div>
    </div>
    <recipe-ingredient-item class="row no-gutters" *ngFor="let ingredient of ingredients | ingredientFilter: search"
      [ingredient]="ingredient"
      (add)="addRecipeIngredient(ingredient)">
    </recipe-ingredient-item>
  </div>
</div><br>

<div class="card-header bg-primary text-white">
  Ingredientes seleccionados
</div>
<div class="card">
  <div class="row headers no-gutters">
    <div class="col-2">{{ headers.ingredientName }}</div>
  </div>
  <ul class="row no-gutters" *ngFor="let recipeIngredient of recipeIngredients">
    <li>{{ recipeIngredient.ingredientName }}</li>
  </ul>
</div><br>

<div>
  <button type="button" class="btn btn-success" [routerLink]="['/recipes/add']" [disabled]="!recipeIngredients.length">
    Siguiente
  </button>
</div><br>

<div>
  <button type="button" class="btn btn-primary" [routerLink]="['/recipes']">
    Volver
  </button>
</div>
