<div class="card border-info">
  <div class="card-body text-info">
    <h5 class="card-title">Primero, escoge los ingredientes de la receta</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Si ves que te falta alguno, añádelo antes <a [routerLink]="['/ingredients/add']">aquí</a>
    </h6>
  </div>
</div><br>


<div class="card">
  <div class="card-header bg-primary text-white">
    {{ tableTitle }}
  </div>
  <div class="card-block" *ngIf="avaliableIngredients.length">
    <form class="form mt-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
        <div class="col-sm-3">
          <input type="text" [(ngModel)]="search" class="form-control" name="filterDesc" id="filterDesc"
            placeholder="Filter..." />
        </div>
        <label class="col-form-label col-sm-5">
          Filtrando por: {{ search }}
        </label>
      </div>
    </form>

    <div class="card">
      <div class="card-header">
        {{ headers.ingredientName }}
      </div>
      <ul class="list-group list-group-flush">
        <recipe-ingredient-item class="list-group-item"
          *ngFor="let ingredient of avaliableIngredients | ingredientFilter: search" [ingredient]="ingredient"
          (add)="addRecipeIngredient(ingredient)">
        </recipe-ingredient-item>
      </ul>
    </div>
  </div><br>

  <div class="card">
    <div class="card-header bg-primary text-white">
      Ingredientes seleccionados ({{ recipeIngredients.length }})
    </div>
    <div class="card-block" *ngIf="recipeIngredients.length">
      <div class="card">
        <div class="card-header">
          {{ headers.ingredientName }}
        </div>
        <ul class="list-group list-group-flush" *ngFor="let recipeIngredient of recipeIngredients">
          <li class="list-group-item"> <button class="btn btn-sm btn-outline-danger mr-2"
              (click)="deleteRecipeIngredient(recipeIngredient)">X</button> {{ recipeIngredient.ingredientName }}</li>
        </ul>
      </div>
    </div>
  </div>
</div><br>

<div>
  <button type="button" class="btn btn-success" [routerLink]="['/recipes/add']" [disabled]="!recipeIngredients.length">
    Siguiente
  </button>
</div><br>

<div>
  <button type="button" class="btn btn-primary" [routerLink]="['/recipes']">
    Volver
  </button>
</div><br>
