<ingredient-form (insert)="addIngredient($event)"></ingredient-form>
<div class="card">
  <div class="card-header bg-primary text-white">
    {{ title }}
  </div>
  <div class="card-block" *ngIf="ingredients.length">
    <div *ngIf="ingredients && ingredients.length">
      <div class="row headers no-gutters">
        <div class="col-3"></div>
        <div class="col-3">{{ headers.quantity }}</div>
        <div class="col-3">{{ headers.measure }}</div>
        <div class="col-3">{{ headers.name }}</div>
      </div>
      <ingredient-item
      [ingredient]="ingredient"
      class="row no no-gutters"
      *ngFor="let ingredient of ingredients"
      (deleted)="deleteIngredient(ingredient)">
      </ingredient-item>
    </div>
    <ng-template #sinIngredientes>
      <div *ngIf="!ingredients.length">
        No hay productos para mostrar
      </div>
    </ng-template>
  </div>
</div>

