<div class="card">
  <div class="card-header bg-primary text-white">
    {{ title }}
  </div>
  <div class="card-block" *ngIf="ingredients.length">
    <form class="form mt-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc">Filtro:</label>
        <div class="col-sm-3">
          <input type="text" [(ngModel)]="search" class="form-control" name="filterDesc" id="filterDesc"
            placeholder="Filter..." />
        </div>
        <label class="col-form-label col-sm-5">
          Filtrando por: {{ search }}
        </label>
      </div>
    </form>

    <div class="row headers no-gutters">
      <div class="col-11">{{ headers.ingredientName }}</div>
    </div>
    <ingredient-item class="row no-gutters" *ngFor="let ingredient of ingredients | ingredientFilter: search"
      [ingredient]="ingredient" (delete)="deleteIngredient(ingredient)">
    </ingredient-item>
  </div>
</div><br>
<div>
  <button type="button" class="btn btn-success" (click)="goAdd()">
    Añadir nuevo ingrediente
  </button>
</div><br>
<div>
  <button type="button" class="btn btn-warning" [routerLink]="['/home']">
    Volver
  </button>
</div>
