<nav class="navbar navbar-expand navbar-dark mb-4" style="background-color: #E59866;">
  <a class="navbar-brand" href="#"  style="font: bold;">{{ title }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" style="font: bold;">
      <a
        class="nav-link"
        [routerLink]="['/home']"
        [routerLinkActive]="['active']"
        >Inicio</a
      >
    </li>
    <li class="nav-item" style="font: bold;">
      <a
        class="nav-link"
        [routerLink]="['/recipes']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        >Recetas</a
      >
    </li>
    <li class="nav-item" style="font: bold;">
      <a
        class="nav-link"
        [routerLink]="['/recipes/add']"
        [routerLinkActive]="['active']"
        >Añadir receta</a
      >
    </li>
    <li class="nav-item" style="font: bold;">
      <a
        class="nav-link"
        [routerLink]="['/ingredients']"
        [routerLinkActive]="['active']"
        >Ingredientes</a
      >
    </li>
    <li class="nav-item" style="font: bold;">
      <a
        class="nav-link"
        [routerLink]="['/ingredients/add']"
        [routerLinkActive]="['active']"
        >Añadir ingrediente</a
      >
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
