<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/welcome']"
        [routerLinkActive]="['active']"
        >Inicio</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/recipes']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        >Recetas</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/ingredients']"
        [routerLinkActive]="['active']"
        >Ingredientes</a
      >
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
