<a [routerLink]="['/recipes/recipe', recipe.idRecipe]"><img *ngIf="recipe.image" class="card-img-top"
    [src]="recipe.image" /></a>
<div class="card-body">
  <h4 class="card-title">
    <a [routerLink]="['/recipes/recipe', recipe.idRecipe]">{{ recipe.recipeName | titlecase }}</a>
  </h4>
  <p class="card-text" [innerText]="recipe.description"></p>
  <div>
    <button class="btn btn-outline-warning col" (click)="goChange()">Modificar</button>
  </div><br>
  <div>
    <button class="btn btn-outline-danger col" (click)="deleteRecipe()">Borrar</button>
  </div>
</div>
<div class="card-footer text-muted">
  {{ recipe.timeRequired }}
  <span class="float-right" *ngFor="let fork of [1, 2, 3, 4, 5]">
    {{fork <= recipe.difficulty ? '🍴' : ' ' }} </span>
</div>
