<img class="card-img-top" [src]="recipe.image" />
<div class="card-body">
  <h4 class="card-title">
    <a [routerLink]="['/recipes', recipe.id_recipe]">{{ recipe.recipeName| titlecase }}</a>
  </h4>
  <p class="card-text" [innerText]="recipe.description"></p>
  <div class="row mr-4 align-items-center">
    <button class="btn btn-danger col" (click)="deleteRecipe()">Borrar</button>
  </div>
</div>
<div class="card-footer text-muted">
  {{ recipe.timeRequired }}
  <span class="float-right" *ngFor="let fork of [1, 2, 3, 4, 5]">
    {{fork <= recipe.difficulty ? '🍴' : ' ' }} </span>
</div>
